body {
  font: 11px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Helvetica Neue', Helvetica, sans-serif;
  background: #f5f5f5;
}

h1 {
  letter-spacing: -1px;
}

.controls {
  height: 500px;
}

.container {
  position: relative;
}

.canvas-container {
  position: relative;
  width: 800px;
  height: 850px;
}

#map-canvas, #map-highlight {
  position: absolute;
  top: 0;
  left: 0;
}